<%- include('partials/header') %>

<h1>Welcome to Sudoku Solver!</h1>

<form action="/select" method="GET">
    <input type="submit" value="Complete a Puzzle">
</form>

<form action="/submit" method="GET">
    <input type="submit" value="Submit a New Puzzle">
</form>

<%- include('partials/footer') %>