<%- include('partials/header') %>

<h1>Your Puzzle has been Submitted!</h1>

<form action="/submit" method="GET">
    <input type="submit" value="Submit another puzzle">
</form>

<%- include('partials/footer') %>